<a href="https://colab.research.google.com/github/jonathjd/Education-Project/blob/main/2_1_jd_initial_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# After working with the data during the descriptive statistics, I decided that the median was not a great choice for imputing the data, and instead I am going to use the pandas interpolate method.

In [ ]:
# import libraries
import pandas as pd

In [ ]:
# read in data
df = pd.read_csv("https://raw.githubusercontent.com/jonathjd/Education-Project/main/data/interim/selected_columns.csv")

In [ ]:
# when exporting, need to export without the index, for now, drop index
df.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
# grab all rows that are in the outlying regions
reg9 = df[df["REGION"]==9]

In [ ]:
# Drop them
df.drop(reg9.index, inplace=True)

In [ ]:
# Check shape
df.shape

(6540, 17)

In [ ]:
# Grab all the rows that have a highdeg of less than 2
deg = df[df["HIGHDEG"]<2]

In [ ]:
# Drop them
df.drop(deg.index, inplace=True)

In [ ]:
# Check shape
df.shape

(3946, 17)

In [ ]:
# Check for null values
df.isna().sum()

UNITID               0
INSTNM               0
CITY                 0
STABBR               0
ZIP                  0
INSTURL              0
HIGHDEG              0
CONTROL              0
REGION               0
COSTT4_A           777
TUITIONFEE_IN      651
TUITIONFEE_OUT     651
NPT4_PUB          2392
NPT4_PRIV         2103
TUITFTE              6
INEXPFTE             6
AVGFACSAL          156
dtype: int64

In [ ]:
# Drop data with too many missing values
df.drop(["NPT4_PRIV","NPT4_PUB"], axis=1, inplace=True)

In [ ]:
df2 = df.interpolate()

In [ ]:
df2.isna().sum()

UNITID            0
INSTNM            0
CITY              0
STABBR            0
ZIP               0
INSTURL           0
HIGHDEG           0
CONTROL           0
REGION            0
COSTT4_A          0
TUITIONFEE_IN     0
TUITIONFEE_OUT    0
TUITFTE           0
INEXPFTE          0
AVGFACSAL         0
dtype: int64

In [ ]:
df2.to_csv("cleaned_data.csv", index=False)